<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <span class="error-block" *ngIf="!userName.valid && userName.touched || userSubmitted">
              <span *ngIf="userName.hasError('required')">Please enter name</span>
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span class="error-block" *ngIf="!email.valid && email.touched || userSubmitted">
            <span *ngIf="email.hasError('required')">Please enter email</span>
            <span *ngIf="email.hasError('email')">Please enter a valid email</span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="password" type="password">
          <span class="error-block" *ngIf="!password.valid && password.touched || userSubmitted">
            <span *ngIf="password.hasError('required')">Please enter password</span>
            <span *ngIf="password.hasError('minlength')">Password should not be less that eight characters</span>
          </span>

        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword" type="password">
          <span class="error-block" *ngIf="!confirmPassword.valid && confirmPassword.touched || userSubmitted">
            <span *ngIf="confirmPassword.hasError('required')">Please confirm password</span>
          </span>
          <span class="error-block" *ngIf="registerationForm.errors?.['notmatched'] && confirmPassword.valid">Password does not match</span>


        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span class="error-block" *ngIf="!mobile.valid && mobile.touched || userSubmitted">
            <span *ngIf="mobile.hasError('required')">Please Enter phone</span>
            <span *ngIf="mobile.hasError('maxlength')">Phone number cannot be more that 10</span>
          </span>

        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary m-2">Cancel</button>
        </div>
        Form Value: {{registerationForm.value | json}}
        Form Status: {{registerationForm.valid}}
      </form>
    </div>
  </div>
  </div>
</div>
